.filter-status {
  margin-bottom: 20px;
}

.filter-list {
  &__item {
    margin-right: 10px;

    &--active {
      background-color: #1677ff;
      color: #fff;
      border-color: #1677ff;
    }
  }
}